*, body {
    box-sizing: border-box;
    line-height: 1.5;
    margin: auto;
    background-color: rgb(241, 232, 232);
    
}

@font-face {
    font-family: 'CocogooseProTrial';
    src: url('../assets/fonts/CocogooseProTrial-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-flow: column;
}

div#ticTacToe {
    display: flex;
    width: 500px;
    height: 500px;
    flex-flow: column wrap;
    font-family: 'CocogooseProTrial';
}

div#ticTacToe > div {
    width: 34%;
    height: 99%;
}

div#firstColumn > div, div#secondColumn > div, div#thirdColumn > div {
    width: 100%;
    height: 35%;
    font-size: 4rem;
}

div#firstColumn > div#firstCell, div#firstColumn > div#secondCell {
    border-bottom: 3px solid rgb(23, 22, 22);
    border-right: 3px solid rgb(23, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#firstColumn > div#thirdCell {
    border-right: 3px solid rgb(23, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#secondColumn > div#fourthCell, div#secondColumn > div#fifthCell {
    border-bottom: 3px solid rgb(23, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#secondColumn > div#sixthCell {
    display: flex;
    justify-content: center;
    align-items: center;
}


div#thirdColumn > div#seventhCell, div#thirdColumn > div#eigthCell {
    border-bottom: 3px solid rgb(23, 22, 22);
    border-left: 3px solid rgb(23, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#thirdColumn > div#ninethCell {
    border-left: 3px solid rgb(23, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#btns {
    display: flex;
    margin-top: 50px;
    gap: 5px;
}

div#informationalBar {
    background-color: black;
    opacity: 0.8;
    width: 100vw;
    height: 31vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#informationalBar > div#informationalBarContent {
    background-color: rgba(1, 4, 0, 0.765);
    height: 98%;
    width: 30%;
    border: 1px solid rgba(148, 147, 147, 0.753);
    color: rgb(249, 221, 120);
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}


button {
    border-radius: 10px;
    border: 1px solid rgb(114, 119, 115);
    background-color: rgba(14, 27, 1, 0.303);
    box-shadow: 1px 1px 2px rgb(0, 10, 6);
    color: rgb(228, 228, 228);
    font-weight: bold;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

dialog {
    border: 1px solid black;
}

dialog#createPlayerDialog input {
    border: 1px solid black;
}

#informationalBarContent > div {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(1, 4, 0, 0.765);
    justify-content: center;
    align-content: center;
    gap: 5px;
}

#informationalBarContent > div > p, #informationalBarContent > div > div > ul {
    background-color: rgba(1, 4, 0, 0.765);
}

#informationalBarContent > div  {
    background-color: rgba(1, 4, 0, 0.765);
}
#informationalBarContent > div > div {
    background-color: rgba(1, 4, 0, 0.765);
    height: 90%;
    margin: 10px;
}

div#fiveRound {
    display: flex;
    flex-direction: column;
}